body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #ffffff;
}
:root {
  --brand-color: #ffffff;
  --text-color: #212121;
  --button-color: #2196f3;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--button-color);
  text-decoration: none;
}
.black-logo {
  color: #000;
}
.partlogo {
  color: var(--brand-color);
}
.footer {
  background-color: #2f303a;
}

.site-nav,
.auth-nav,
.communication,
.list,
.header-page {
  list-style-type: none;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--button-color);
}
.link:active {
  color: var(--button-color);
}

.tel {
  color: #757575;
}
.street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-decoration: none;
  font-style: normal;
}
.contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.decision {
  background-color: #2f303a;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  text-transform: uppercase;
}
.button {
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  font-family: inherit;
}
.pre-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}
.type-button {
  text-decoration: none;
  background-color: #f5f5f5;
}
.link-img {
  text-decoration: none;
}
.team {
  background-color: #f5f4fa;
}
.filter {
  background-color: #f5f4fa;
  color: var(--text-color);
}
.button-filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
}
.button-filter:hover,
.button-filter:focus {
  background: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.button-filter:active {
  background: var(--button-color);
  color: var(--brand-color);
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.title-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.sub-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
